###< Phpstorm ###
.idea/*
JetBrains.Dockerfile
###> Phpstorm ###

###< Tasks ###
Taskfile.yaml
Taskfile.yml
###> Tasks ###

###< gitkeep ###
!/**/.gitkeep
###> gitkeep ###

###< supervisor ###
supervisord.pid
###> supervisor ###

###< logs & cache ###
var/
###> logs & cache ###
