includes:
parameters:
    level: 8
    paths:
        - src
        - tests
    doctrine:
        ormRepositoryClass: MyApp\Doctrine\BetterEntityRepository
        odmRepositoryClass: MyApp\Doctrine\BetterDocumentRepository
    symfony:
    ignoreErrors:
    tmpDir: var/phpstan